@model ManagementProductListVM

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Ürün Adý</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Ýþlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Products)
        {
            <tr>
                <td>
                    <img src="@obj.ImageUrl" width="50" class="rounded shadow-sm" />
                </td>
                <td>@obj.Title</td>
                <td>@obj.CategoryName</td>
                <td>@obj.Price.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>